.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.progressbar{
    border-width: 0.1rem;
    border-color: rgba(0,0,0,0.25);
    border-style: solid ;
    border-radius: 50%;
    padding:15px 18px;
    margin: 0;
    
}

.container-progressbar{
display:flex;
align-items: center;
justify-content: center;
width: 20%;
} 
.progressbar-connector{
    border-style: solid;
    border-color: rgba(0,0,0,0.25);
    background-color: rgba(0,0,0,0.25);
    border-width: 1px;
    width: 50px;
}

.progressbar-selected{
    background-color: #8258E9;
    border-color: #8258E9;
    color: white ;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 4rem;
height: 4rem;}